@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --modal-animation-duration: 0.4s;
}

body,
input, 
textarea {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

dialog {
  transition: display var(--modal-animation-duration) allow-discrete, overlay var(--modal-animation-duration) allow-discrete;
  animation: close var(--modal-animation-duration) forwards;
}

dialog[open] {
  animation: open var(--modal-animation-duration) forwards;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}